<div class="jumbotron">
  <h1>Simple voting app</h1>
  <p class="lead">
  </p>
</div>
<form>
  <label class="questionTitle">What IDE do you use?</label>
  <div class="form-group question">
    <div class="radio">
      <label>
        <input type="radio" name="webstorm" value="Webstorm" ng-model="formData.ideName">
        Webstorm
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="netbeans" value="Netbeans" ng-model="formData.ideName">
        Netbeans
      </label>
    </div>
    <button type="submit" ng-model="button" ng-disabled="!formData.ideName" class="btn btn-success btn-lg col-md-12 "
            ng-click="sendVote(formData.ideName)">Send!
    </button>
  </div>
</form>
<canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels"> chart-series="series"
</canvas>

